body {
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: 
        "left middle right";
}
#left {
    grid-area: left;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "toppictureleft"
        "bottompictureleft";
    height: 100%;
}
#top-picture-left {
    grid-area: toppictureleft;
}
#cookie-image {
    max-width: 80%;
    height: auto;
    position: relative;
    top: 10%;
    left: 7vw;
    border-style: double;
    border-color: aliceblue;
    border-width: 1vmin;
}
#cookie-image:hover {
    animation-name: cookie-hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes cookie-hover {
    100% {
        transform: scale(1.1);
    }
}
#bottom-picture-left {
    grid-area: bottompictureleft;
}
#crepes-image {
    max-width: 80%;
    height: auto;
    position: relative;
    top: 26%;
    left: 7vw;
    border-style: double;
    border-color: aliceblue;
    border-width: 1vmin;
}
#middle {
    grid-area: middle;
}
#right {
    grid-area: right;
}
#index-title {
    text-align: center;
    margin-top: 6vh;
    font-family: "SIMPLIFICA", sans-serif;
    font-size: 5vw;
}
@font-face {
    font-family: "SIMPLIFICA";
    src: url(resources/SIMPLIFICA\ Typeface.ttf);
}