html {
    margin: 0px;
    height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: "SIMPLIFICA", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer {
    font-family: initial;
    background: linear-gradient(rgb(43, 43, 43),rgb(22, 22, 22));
    padding: 15px;
    color: white;
}
.main,
.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main {
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255, 137, 124), rgb(167, 84, 74));
}
.link-container {
    column-gap: 100px;
    margin-top: -200px;
}
.page-link img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 5px double white;
    border-radius: 50%;
}
.page-link img:hover {
    animation-name: boxshadow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.page-link h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
@font-face {
    font-family: "SIMPLIFICA";
    src: url(./resources/SIMPLIFICA\ Typeface.ttf);
}
@keyframes boxshadow {
    100% {
        box-shadow: 0px 0px 50px white;
    }
}